<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://use.fontawesome.com/edca3d70e6.js"></script>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        <style>
            label, input {
                font-family:Verdana; font-size:7pt;
            }
            thead {
                background-color: #00a7e2;
                font-family:Verdana; font-size:7pt;
                color: white;
                font-weight: bold;
            }
            tbody {
                font-family:Verdana; font-size:7pt;
            }
            table.table.table-striped>tbody>tr:nth-of-type(odd) {
                background-color: #daeef3;
            }
            table.table.table-striped>tbody>tr>td:nth-child(1) {
                background-color: #00a7e2;
                color: white;
            }
            .container-fluid {
            	padding-right: 0px !important; 
            	padding-left: 0px !important;
            	margin-right: auto;
            	margin-left: auto;
            }
        </style>

        <script>
            var m = new Date();
            var dateString = m.getUTCFullYear() +"_"+ (m.getUTCMonth()+1) +"_"+ m.getUTCDate();

            var prefix = "";
            if (location.host === "") {
                prefix = "";
            } else {
                prefix = "/reitdata/";
            }
            
            document.write("<script src='" + prefix + "AnnouncementByTimePeriod.js?v=" + dateString + "'><\/script>");
            document.write("<script src='" + prefix + "AnnouncementByIssuer.js?v=" + dateString + "'><\/script>");
            document.write("<script src='" + prefix + "AnnouncementBySecurity.js?v=" + dateString + "'><\/script>");
            document.write("<script src='" + prefix + "reit_announcement_app.js?v=" + dateString + "'><\/script>");
        </script>    
    </head>
    <body>
        <div ng-app="reitAnnouncementApp" ng-controller="reitAnnouncementDataCtrl" ng-init="init()" ng-enter="fetchData()" class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" ng-submit="pager.currentPage=0;pager.totalPages=0;fetchData()">
                        <div class="form-group">
                            <label for="period" class="col-md-4 control-label">Announcement Period:</label>
                            <div class="col-md-8">
                                <select id="period" name="prd" class="form-control" style="max-width: 50%;" ng-model="period"
                                    ng-options="AnnouncementByTimePeriod.DisplayName for AnnouncementByTimePeriod in AnnouncementByTimePeriods">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Filter by:</label>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="filterby" ng-model="filterByValue" ng-value="" ng-click="filterby.security=false;filterby.company=true;"> Company Name
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="filterby" ng-model="filterByValue" ng-value="Security" checked="checked" ng-click="filterby.security=true;filterby.company=false;"> Security Name
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="filterby.company">
                            <label class="col-md-4 control-label">Company Name Filter:</label>
                            <div class="col-md-8">
                                <input id= "companyFilter" name="companyFilter" class="form-control" style="max-width: 50%;" ng-model="filterby.companyFilter">
                            </div>
                        </div>
                        <div class="form-group" ng-show="filterby.security">
                            <label for="securityFilter" class="col-md-4 control-label">Security Name Filter:</label>
                            <div class="col-md-8">
                                <input id= "securityFilter" name="securityFilter" class="form-control" style="max-width: 50%;" ng-model="filterby.securityFilter">
                            </div>
                        </div>
                        <div class="form-group" ng-show="filterby.company">
                            <label for="issuer" class="col-md-4 control-label">Company Name:</label>
                            <div class="col-md-8">
                                <select id= "issuer" name="iName" class="form-control" ng-model="issuer" size="5"
                                    ng-options="AnnouncementByIssuer.IssuerName for AnnouncementByIssuer in AnnouncementByIssuers | filter: filterCompanyData(filterby.companyFilter)">
                                    <option value="" selected>Select Company Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="filterby.security">
                            <label for="security" class="col-md-4 control-label">Security Name:</label>
                            <div class="col-md-8">
                                <select id="security" name="sName" class="form-control" ng-model="security" size="5"
                                    ng-options="AnnouncementBySecurity.SecurityName for AnnouncementBySecurity in AnnouncementBySecuritys | filter: filterSecurityData(filterby.securityFilter)">
                                    <option value="" selected>Select Security Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-push-4">
                                <input id="go" type="submit" class="btn btn-default" value="Go"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{{ error }}</p>
                </div>
            </div>
            <div id="topPager" class="row" ng-if="pager.pages.length || debugMode">
                <div class="col-md-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm pull-right">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a href="#topPager" ng-click="setPage(1); fetchData()"><span aria-hidden="true">First</span></a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a href="#topPager" ng-click="setPage(pager.currentPage - 1); fetchData()"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a href="#topPager" ng-click="setPage(page); fetchData()">{{ page }}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-href="#topPager" ng-click="setPage(pager.currentPage + 1); fetchData()"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-href="#topPager" ng-click="setPage(pager.totalPages); fetchData()"><span aria-hidden="true">Last</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <colgroup>
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-6">
                            </colgroup>
                            <thead>
                                <tr>
                                    <td class="text-center">Date</td>
                                    <td class="text-center">Time</td>
                                    <td class="text-center">Company Name</td>
                                    <td class="text-center">Security Name</td>
                                    <td class="text-center">Announcement Title</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in announcementDatas.items">
                                    <td>{{ item.Date }}</td>
                                    <td>{{ item.Time }}</td>
                                    <td>{{ item.IssuerName }}</td>
                                    <td>{{ item.SecurityName }}</td>
                                    <td><a ng-href="{{ 'http://infopub.sgx.com/Apps?A=COW_CorpAnnouncement_Content&B=' + period.View + (filterby.security && security ? 'Security' : '') + '&F=' + item.key }}" target="_blank">{{ item.AnnTitle }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="pager.pages.length || debugMode">
                <div class="col-md-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm pull-right">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a href="#topPager" ng-click="setPage(1); fetchData()"><span aria-hidden="true">First</span></a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a href="#topPager" ng-click="setPage(pager.currentPage - 1); fetchData()"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a href="#topPager" ng-click="setPage(page); fetchData()">{{ page }}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-href="#topPager" ng-click="setPage(pager.currentPage + 1); fetchData()"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-href="#topPager" ng-click="setPage(pager.totalPages); fetchData()"><span aria-hidden="true">Last</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>